<Page actionBarHidden="true">
    <GridLayout class="page">
        <CardView #userVerifyDialog modal size="lg" duration="100" backgroundColor="transparent">
            <GridLayout width="80%" height="30%" borderRadius="20" backgroundColor="white">
                <GridLayout rows="auto,auto" width="100%" height="100%">
                    <StackLayout row="0" height="60%" width="90%" verticalAlignment="top" orientation="vertical">
                        <Label class="userDialogLabel" color="#E98A02" textWrap="true"
                            text="Your phone number is not verified"></Label>
                        <Label class="userDialogLabel" color="#1B1B1B" textWrap="true" marginTop="10%"
                            text="Please verify your phone number to continue..."></Label>
                    </StackLayout>
                    <GridLayout row="1" columns="auto,auto" height="40%" width="90%" verticalAlignment="middle">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="verify-button" text="Verify" (tap)="onVerify()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="cancel-button" text="Cancel" (tap)="onCancel()"></Button>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
        </CardView>
        <GridLayout rows="auto,auto,auto,auto,auto,auto,auto" width="100%" height="100%">
            <StackLayout row="0" width="100%" marginTop="10" height="30%" verticalAlignment="middle">
                <Image class="appLogo" src="res://logo"></Image>
            </StackLayout>
            <StackLayout row="1" width="100%" height="10%">
                <Label class="appLabel" text="Farmer's Hut"></Label>
            </StackLayout>
            <StackLayout row="2" width="80%" height="10%">
                <TextField [hint]="phoneHint" (textChange)="onPhoneTextChanged($event)" keyboardType="phone"
                    secure="false" maxLength="10" [borderColor]="phoneBorderColor" returnKeyType="done"
                    autocorrect="false" class="input input-border input-field">
                </TextField>
            </StackLayout>
            <StackLayout row="3" width="80%" height="10%">
                <TextField [hint]="passwordHint" (textChange)="onPasswordTextChanged($event)" secure="true"
                    returnKeyType="done" [borderColor]="passwordBorderColor" autocorrect="false"
                    class="input input-border input-field">
                </TextField>
            </StackLayout>
            <StackLayout row="4" width="80%" height="5%">
                <Label class="forgot-label" text="Forgot password?" (tap)="onForgotPassword()"></Label>
            </StackLayout>
            <StackLayout row="5" width="80%" height="10%">
                <Button class="button" text="Login" (tap)="onLogin()"></Button>
            </StackLayout>
            <StackLayout row="6" width="80%" height="10%">
                <Label class="footer-label" text="Don't have an account? Registration" (tap)="onRegister()"></Label>
            </StackLayout>
        </GridLayout>
    </GridLayout>
</Page>