.page{
    background-image: url("res://app_background");
    background-size: cover;
    background-color: black;
    width:100%;
    height:100%;
}
.appLogo{
    height:150;
    width:150;
}
.appLabel{
    color:#E98A02;
    font-size: 36;
    text-align: center;
    font-weight: 500;
}
.button{
    border-color:white;
    border-width:1;
    border-radius:10;
    color:white;
    font-size: 20;
    text-transform: initial;
    text-align: center;
    height:40;
    padding:0;
    background-color: #E98A02;
}
.button:highlighted{
    background-color: transparent;
    z-index: 500;    
    border-color: #E98A02;
    color:#E98A02;
}
.input-field{
    placeholder-color:white;
    border-bottom-width: 1;
    height:40;
    color:#E98A02;
}
.footer-label{
    color:white;
    text-align: center;
}
.forgot-label{
    color:white;
    text-align: right;
}
.userDialogLabel{
    font-size: 16;
    text-align:center;
    font-weight:500;
}
.verify-button{
    border-radius: 10;
    background-color:#E98A02;
    text-transform: initial;
    color:white;
    height:50%;
    width:90%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: white;
    border-width:1;
}
.verify-button:highlighted{
    background-color: white;
    border-color:#E98A02;
    color:#E98A02;
}
.cancel-button{
    border-radius: 10;
    background-color:white;
    text-transform: initial;
    color:#E98A02;
    height:50%;
    width:90%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: #E98A02;
    border-width:1;
}
.cancel-button:highlighted{
    background-color: #E98A02;
    border-color:white;
    color:white;
}