.page{
    background-image: url("res://app_background");
    background-size: cover;
    background-color: black;
    width:100%;
    height:100%;
}
.appLogo{
    height:120;
    width:120;
}
.appLabel{
    color:#00C012;
    font-size: 36;
    text-align: center;
    font-weight: 500;
}
.button{
    border-color:white;
    border-width:1;
    border-radius:10;
    color:white;
    text-transform: initial;
    text-align: center;
    height:70%;
    font-size:20%;
    padding:0;
    background-color: #00C012;
}
.button:highlighted{
    background-color: transparent;
    z-index: 1;    
    border-color: #00C012;
    color:#00C012;
}
.input-field{
    placeholder-color:white;
    border-bottom-width: 1;
    height:40;
    color:#00C012;
}
.userDialogLabel{
    font-size: 16;
    text-align:center;
    font-weight:500;
}
.verify-button{
    border-radius: 10;
    background-color:#00C012;
    text-transform: initial;
    color:white;
    height:50%;
    width:90%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: white;
    border-width:1;
}
.verify-button:highlighted{
    background-color: white;
    border-color:#00C012;
    color:#00C012;
}
.cancel-button{
    border-radius: 10;
    background-color:white;
    text-transform: initial;
    color:#00C012;
    height:50%;
    width:90%;
    padding:0;
    font-size:12%;
    font-weight:500;
    border-color: #00C012;
    border-width:1;
}
.cancel-button:highlighted{
    background-color: #00C012;
    border-color:white;
    color:white;
}

.ok-button{
    border-radius: 10;
    background-color:#00C012;
    text-transform: initial;
    color:white;
    height:80%;
    width:50%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: white;
    border-width:1;
}
.ok-button:highlighted{
    background-color: white;
    border-color:#00C012;
    color:#00C012;
}

.footer-button{
    border-color:#00C012;
    border-width:1;
    border-radius:5;
    color:#00C012;
    font-size: 12%;
    text-transform: initial;
    text-align: center;
    height:50%;
    padding:0;
    background-color: transparent;
    /* z-index:1; */
}
.footer-button:highlighted{
    background-color: #00C012;
    z-index: 1;    
    border-color: white;
    color:white;
}

.forgot-button{
    border-color:white;
    border-width:1;
    border-radius:5;
    color:white;
    font-size: 12%;
    text-transform: initial;
    text-align: center;
    height:70%;
    width:50%;
    padding:0;
    background-color: transparent;
    /* z-index:1; */
}
.forgot-button:highlighted{
    background-color: white;
    z-index: 1;    
    border-color: #00C012;
    color:#00C012;
}