<Page actionBarHidden="true">
    <GridLayout class="page" rows="auto,auto,auto,auto,auto">
        <GridLayout row="0" columns="auto,auto,auto" width="100%" marginTop="10" height="30%">
            <StackLayout col="0" height="50%" verticalAlignment="top" width="20%">
                <Image class="backButton" src="res://back_icon" (tap)="onBack()"></Image>
            </StackLayout>
            <StackLayout col="1" height="100%" width="60%">
                <Image class="appLogo" src="res://logo"></Image>
            </StackLayout>
            <StackLayout col="2" width="20%">
            </StackLayout>
        </GridLayout>
        <StackLayout row="1" width="100%" height="10%">
            <Label class="appLabel" text="Farmer's Hut"></Label>
        </StackLayout>
        <StackLayout row="2" width="80%" height="10%">
            <Label class="description-label" textWrap="true"
                text="To confirm your email, you need to enter your registered email. We will send the OTP to your email"></Label>
        </StackLayout>
        <StackLayout row="3" width="80%" height="10%">
            <!-- <TextField [hint]="phoneHint" (textChange)="onPhoneTextChanged($event)" keyboardType="phone" secure="false"
                maxLength="10" [borderColor]="phoneBorderColor" returnKeyType="done"
                 autocorrect="false" (focus)="onPhoneFocus($event)"
                (blur)="onBlur($event)" class="input input-border input-field">
            </TextField> -->

            <TextField [hint]="emailHint" (textChange)="onEmailTextChanged($event)" keyboardType="email" secure="false"
                [borderColor]="emailBorderColor" returnKeyType="done" 
                autocorrect="false" class="input input-border input-field">
            </TextField>

        </StackLayout>
        <StackLayout row="4" width="80%" height="10%">
            <Button class="button" text="Send OTP" (tap)="onSendOtp()"></Button>
        </StackLayout>
    </GridLayout>
</Page>