.page{
    background-image: url("res://app_background");
    background-size: cover;
    background-color: black;
    width:100%;
    height:100%;
}
.pageHeading{
    color:#E98A02;
    font-size: 20;
    text-align: center;
    font-weight: 500;
}
.profileButton{
    width:30;
    height:30;
}
.brand-name{
    font-size:16;
    color:#E98A02;
    font-weight:500;
    width:100%;
    text-align: center;
}
.product-name{
    font-size:14;
    color:black;
    font-weight:500;
}
.addButton{
    color: white;
    width: 80%;
    height: 80%;
    /* margin-top:20%; */
    vertical-align: middle;
    font-size: 16;
    padding:0;
    font-weight: 500;
    border-width:1;
    border-radius:10;
    border-color:white;
    background-color: #E98A02;
}
.addButton:highlighted{
    background-color: transparent;
    z-index:500;
    border-color: #E98A02;
    color:#E98A02;
}

.inactiveButton{
    border-width:1;
    font-size: 14;
    text-transform: initial;
    text-align: center;
    height:80%;
    width:95%;
    padding:0;
}
/* .addCartButton:highlighted{
    background-color: #E98A02;
    border-color: white;
    color:white;
} */
.activeButton{
    border-width:1;
    font-size: 14;
    text-transform: initial;
    text-align: center;
    height:80%;
    width:95%;
    padding:0;
}
/* .viewDetailButton:highlighted{
    background-color: transparent;
    border-color: #E98A02;
    color:#E98A02;
} */

.editButton{
    border-width:1;
    font-size: 14;
    text-transform: initial;
    text-align: center;
    height:80%;
    width:95%;
    padding:0;
    background-color: #E98A02;
    color:white;
    border-color: white;
}
.editButton:highlighted{
    background-color: transparent;
    z-index:500;
    color:#E98A02;
    border-color: #E98A02;
}