.page{
    background-image: url("res://app_background");
    background-size: cover;
    background-color: black;
    width:100%;
    height:100%;
}
.brand-name{
    font-size:16;
    color:#E98A02;
    font-weight:500;
}
.backButton{
    height:30;
    width:30;
}
.cartButton{
    height:30;
    width:30;
}
.product-name{
    font-size:16;
    color:black;
    font-weight:500;
}
.pageHeading{
    color:#E98A02;
    font-size: 24;
    text-align: center;
    font-weight: 500;
}
.profileButton{
    width:30;
    height:30;
}
.addCartButton{
    border-color:#E98A02;
    border-width:1;
    color:#E98A02;
    font-size: 14;
    text-transform: initial;
    text-align: center;
    height:80%;
    width:95%;
    padding:0;
    background-color: white;
    /* z-index:500; */
}
.addCartButton:highlighted{
    background-color: #E98A02;
    border-color: white;
    color:white;
}
.viewDetailButton{
    border-color:white;
    border-width:1;
    color:white;
    font-size: 14;
    text-transform: initial;
    text-align: center;
    height:80%;
    width:95%;
    padding:0;
    background-color: #E98A02;
}
.viewDetailButton:highlighted{
    background-color: transparent;
    z-index:500;
    border-color: #E98A02;
    color:#E98A02;
}
