<Page>
    <GridLayout class="page">
        <CardView #warningDialog modal size="lg" duration="100" backgroundColor="transparent">
            <GridLayout rows="auto,auto,auto,auto" width="80%" height="30%" borderRadius="20" backgroundColor="white">
                <StackLayout row="0" height="40%">
                    <Image height="80vh" width="80vh" src="res://warning"></Image>
                </StackLayout>
                <StackLayout row="1" height="20%" verticalAlignment="middle">
                    <Label color="black" textWrap="true" textAlignment="center" fontSize="18" fontWeight="900"
                        text="Something Went Wrong"></Label>
                </StackLayout>
                <StackLayout row="2" height="20%" verticalAlignment="middle">
                    <Label color="black" textWrap="true" textAlignment="center" fontSize="14" fontWeight="500"
                        [text]="errorMessage"></Label>
                </StackLayout>
                <StackLayout row="3" height="20%">
                    <Button class="ok-button" text="OK" (tap)="onOK()"></Button>
                </StackLayout>
            </GridLayout>
        </CardView>
        <GridLayout rows="auto,auto,auto,auto,auto">
            <GridLayout row="0" columns="auto,auto,auto" width="100%" marginTop="10" height="8%">
                <StackLayout col="0" height="100%" verticalAlignment="middle" width="20%">
                    <Image class="backButton" src="res://back_icon" (tap)="onBack()"></Image>
                </StackLayout>
                <StackLayout col="1" verticalAlignment="middle" width="60%" height="100%">
                    <Label class="pageHeading" text="Change Password"></Label>
                </StackLayout>
            </GridLayout>
            <StackLayout row="1" width="80%" height="10%" marginTop="10%">
                <TextField [hint]="oldPasswordHint" (textChange)="onOldPasswordTextChanged($event)" secure="true"
                    [borderColor]="oldPasswordBorderColor" padding="0" returnKeyType="done" autocorrect="false"
                    class="input input-border input-field">
                </TextField>
            </StackLayout>
            <StackLayout row="2" width="80%" height="10%">
                <TextField [hint]="newPasswordHint" (textChange)="onNewPasswordTextChanged($event)" secure="true"
                    returnKeyType="done" [borderColor]="newPasswordBorderColor" padding="0" autocorrect="false"
                    class="input input-border input-field">
                </TextField>
            </StackLayout>
            <StackLayout row="3" width="80%" height="10%">
                <TextField [hint]="newRePasswordHint" (textChange)="onNewRePassTextChanged($event)" secure="true"
                    returnKeyType="done" [borderColor]="newRePasswordBorderColor" padding="0" autocorrect="false"
                    class="input input-border input-field">
                </TextField>
            </StackLayout>
            <StackLayout row="4" width="80%" height="10%">
                <Button class="button" text="Done" (tap)="onDone()"></Button>
            </StackLayout>
        </GridLayout>
    </GridLayout>
</Page>