<Page>
    <GridLayout *ngIf="isRendering" rows="auto,auto,auto,auto" class="page">
        <GridLayout row="0" columns="auto,auto,auto" width="100%" height="8%">
            <StackLayout col="0" verticalAlignment="middle" width="20%">
                <Image class="backButton" src="res://back_icon" (tap)="onBack()"></Image>
            </StackLayout>
            <StackLayout col="1" verticalAlignment="middle" width="60%">
                <Label class="pageHeading" text="Product detail"></Label>
            </StackLayout>
            <StackLayout col="2" height="80%" width="20%">
                <Button class="cartButton" (tap)="onCartClick()"></Button>
            </StackLayout>
            <StackLayout *ngIf="isCartCount" col="2" verticalAlignment="middle" width="20" height="20"
                backgroundColor="#00C012" borderRadius="10" marginBottom="15" marginLeft="15">
                <Label color="white" fontWeight="500" horizontalAlignment="center" [text]="cartCount"></Label>
            </StackLayout>
        </GridLayout>
        <GridLayout *ngIf="isRenderingDetail" row="1" width="100%" height="32%" backgroundColor="white">
            <StackLayout height="100%" width=" 100%">
                <Image class="productImage" [src]="image"></Image>
            </StackLayout>
        </GridLayout>
        <GridLayout *ngIf="isRenderingDetail" row="2" rows="auto,auto,auto,auto,auto,auto,auto,*" width="100%"
            height="46%" marginTop="3%" backgroundColor="white">
            <StackLayout row="0" height="10%" width="90%" verticalAlignment="middle" orientation="horizontal">
                <Label class="brandName" [text]="brandName"></Label>
                <Label class="brandNamePresents" text=" presents:"></Label>
            </StackLayout>
            <GridLayout row="1" columns="auto,auto,auto,auto" height="10%" width=" 90%">
                <StackLayout col="0" verticalAlignment="middle">
                    <Label class="fullName" [text]="fullName"></Label>
                </StackLayout>
                <StackLayout col="1" verticalAlignment="middle">
                    <Label class="fullName" text=" ("></Label>
                </StackLayout>
                <StackLayout col="2" verticalAlignment="middle">
                    <Label class="quantity" [text]="quantity"></Label>
                </StackLayout>
                <StackLayout col="3" verticalAlignment="middle">
                    <Label class="fullName" text=")"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout row="2" height="10%" width=" 90%">
                <StackLayout verticalAlignment="middle">
                    <Label class="detailHeading" [text]="detailHeading"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout row="3" height="15%" width=" 90%">
                <StackLayout verticalAlignment="middle">
                    <Label class="price" [text]="price"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout row="4" height="10%" width=" 90%">
                <StackLayout verticalAlignment="middle">
                    <Label class="delivery" text="FREE Delivery"></Label>
                </StackLayout>
            </GridLayout>
            <StackLayout row="5" height="1" marginTop="3%" width=" 90%" backgroundColor="black">
            </StackLayout>
            <GridLayout row="6" height="10%" width=" 90%">
                <StackLayout verticalAlignment="middle">
                    <Label class="detail" text="Detail :"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout row="7" width=" 90%">
                <ScrollView>
                    <StackLayout verticalAlignment="top" marginTop="5">
                        <Label class="detailDescription" textWrap="true" [text]="detailDescription"></Label>
                    </StackLayout>
                </ScrollView>
            </GridLayout>
        </GridLayout>
        <GridLayout *ngIf="isRenderingDetail" row="3" columns="auto,auto" width="100%" height="8%" marginTop="3%">
            <StackLayout col="0" height="100%" width="50%" borderWidth="0">
                <!-- <Button *ngIf="addToCartButton" class="addToCartButton" text="ADD TO CART"
                    (tap)="onAddToCart()"></Button> -->
                <Button class="addToCartButton" text="ADD TO CART" (tap)="onAddToCart()"></Button>
                <!-- <Button *ngIf="addedCartButton" class="addedCartButton" text="ADDED TO CART"></Button> -->
            </StackLayout>
            <StackLayout col="1" height="100%" width="50%" borderWidth="0">
                <Button class="buyNowButton" text="BUY NOW" (tap)="onBuyNow()"></Button>
            </StackLayout>
        </GridLayout>
    </GridLayout>
    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>
    <!-- <GridLayout *ngIf="isLoading" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout> -->
</Page>