<Page>
    <GridLayout rows="auto,auto,auto,auto" class="page">
        <GridLayout row="0" columns="auto,auto,auto" width="100%" height="10%">
            <StackLayout col="0" verticalAlignment="middle" width=" 20%">
                <Image class="backButton" src="res://back_icon" (tap)="onBack()"></Image>
            </StackLayout>
            <StackLayout col="1" verticalAlignment="middle" width=" 60%">
                <Label class="pageHeading" text="Product detail"></Label>
            </StackLayout>
            <StackLayout col="2" verticalAlignment="middle" width=" 20%">
                <Image class="cartButton" src="res://cart_icon" (tap)="onCartClick()"></Image>
            </StackLayout>
            <StackLayout *ngIf="cartCount" col="2" verticalAlignment="middle" width="20" height="20"
                backgroundColor="white" borderRadius="10" marginBottom="15" marginLeft="15">
                <Label color="#E98A02" fontWeight="500" horizontalAlignment="center" text="1"></Label>
            </StackLayout>
        </GridLayout>
        <GridLayout row="1" width="100%" height="32%" backgroundColor="white">
            <StackLayout height="100%" width=" 100%">
                <Image class="productImage" [src]="image"></Image>
            </StackLayout>
        </GridLayout>
        <GridLayout row="2" rows="auto,auto,auto,auto,auto,auto,auto,*" width="100%" height="44%" marginTop="3%"
            backgroundColor="white">
            <StackLayout row="0" height="10%" width="90%" verticalAlignment="middle" orientation="horizontal">
                <Label class="brandName" [text]="brandName"></Label>
                <Label class="brandNamePresents" text=" presents:"></Label>
            </StackLayout>
            <GridLayout row="1" columns="auto,auto,auto,auto" height="10%" width=" 90%">
                <StackLayout col="0" verticalAlignment="middle">
                    <Label class="fullName" [text]="fullName"></Label>
                </StackLayout>
                <StackLayout col="1" verticalAlignment="middle">
                    <Label class="fullName" text=" ("></Label>
                </StackLayout>
                <StackLayout col="2" verticalAlignment="middle">
                    <Label class="quantity" [text]="quantity"></Label>
                </StackLayout>
                <StackLayout col="3" verticalAlignment="middle">
                    <Label class="fullName" text=")"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout row="2" height="15%" width=" 90%">
                <StackLayout verticalAlignment="middle">
                    <Label class="price" [text]="price"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout row="3" height="10%" width=" 90%">
                <StackLayout verticalAlignment="middle">
                    <Label class="delivery" text="FREE Delivery"></Label>
                </StackLayout>
            </GridLayout>
            <StackLayout row="4" height="1" marginTop="3%" width=" 90%" backgroundColor="black">
            </StackLayout>
            <GridLayout row="5" height="10%" width=" 90%">
                <StackLayout verticalAlignment="middle">
                    <Label class="detail" text="Detail :"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout row="6" height="10%" width=" 90%">
                <StackLayout verticalAlignment="middle">
                    <Label class="detailHeading" [text]="detailHeading"></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout row="7" width=" 90%">
                <ScrollView>
                    <StackLayout verticalAlignment="top" marginTop="5">
                        <Label class="detailDescription" textWrap="true" [text]="detailDescription"></Label>
                    </StackLayout>
                </ScrollView>
            </GridLayout>
        </GridLayout>
        <GridLayout row="3" columns="auto,auto" width="100%" height="8%" marginTop="3%">
            <StackLayout col="0" height="100%" width="50%" borderWidth="0">
                <Button *ngIf="addToCartButton" class="addToCartButton" text="ADD TO CART"
                    (tap)="onAddToCart()"></Button>
                <Button *ngIf="addedCartButton" class="addedCartButton" text="ADDED TO CART"></Button>
            </StackLayout>
            <StackLayout col="1" height="100%" width="50%" borderWidth="0">
                <Button class="buyNowButton" text="BUY NOW" (tap)="onBuyNow()"></Button>
            </StackLayout>
        </GridLayout>
    </GridLayout>
</Page>