<Page actionBarHidden="true">
    <GridLayout class="page" rows="auto,auto,auto,auto,auto">
        <GridLayout row="0" columns="auto,auto,auto" width="100%" marginTop="10" height="8%">
            <StackLayout col="0" height="100%" verticalAlignment="middle" width="20%">
                <Image class="backButton" src="res://back_icon" (tap)="onBack()"></Image>
            </StackLayout>
            <StackLayout col="1" verticalAlignment="middle" width="60%" height="100%">
                <Label class="pageHeading" text="Change Password"></Label>
            </StackLayout>
        </GridLayout>
        <StackLayout row="1" width="80%" height="10%" marginTop="10%">
            <TextField [hint]="oldPasswordHint" (textChange)="onOldPasswordTextChanged($event)" secure="true"
                [borderColor]="oldPasswordBorderColor" returnKeyType="done" (returnPress)="onReturnPress($event)"
                autocorrect="false" class="input input-border input-field">
            </TextField>
        </StackLayout>
        <StackLayout row="2" width="80%" height="10%">
            <TextField [hint]="newPasswordHint" (textChange)="onNewPasswordTextChanged($event)" secure="true"
                returnKeyType="done" [borderColor]="newPasswordBorderColor" (returnPress)="onReturnPress($event)"
                autocorrect="false" class="input input-border input-field">
            </TextField>
        </StackLayout>
        <StackLayout row="3" width="80%" height="10%">
            <TextField [hint]="newRePasswordHint" (textChange)="onNewRePassTextChanged($event)" secure="true"
                returnKeyType="done" [borderColor]="newRePasswordBorderColor" (returnPress)="onReturnPress($event)"
                autocorrect="false" class="input input-border input-field">
            </TextField>
        </StackLayout>
        <StackLayout row="4" width="80%" height="10%">
            <Button class="button" text="Done" (tap)="onDone()"></Button>
        </StackLayout>
    </GridLayout>
</Page>