<Page navigatedFrom="onNavigatedFrom($event)" navigatedTo="onNavigatedTo($event)">
    <GridLayout *ngIf="isRendering" rows="auto,auto,auto" class="page">
        <GridLayout row="0" height="8%" width="100%" columns="auto,auto,auto">
            <StackLayout col="0" height="80%" width="15%">
                <Button class="profileButton" (tap)="onProfile()"></Button>
            </StackLayout>
            <StackLayout col="1" height="100%" verticalAlignment="middle" width="70%">
                <Label class="pageHeading" text="Products"></Label>
            </StackLayout>
            <StackLayout col="2" height="80%" width="15%">
                <Button class="cartButton" (tap)="onCartClick()"></Button>
            </StackLayout>
            <StackLayout *ngIf="isCartCount" col="2" verticalAlignment="middle" width="20" height="20"
                backgroundColor="#00C012" borderRadius="10" marginBottom="15" marginLeft="15">
                <Label color="white" fontWeight="500" horizontalAlignment="center" [text]="cartCount"></Label>
            </StackLayout>
        </GridLayout>
        <GridLayout row="1" height="25%" width="100%">
            <ns-slider height="100%" width="100%"></ns-slider>
        </GridLayout>
        <TabView row="2" *ngIf="isRenderingTabView" [(ngModel)]="tabSelectedIndex" [selectedIndex]="tabSelectedIndex"
            width="100%" height="67%" selectedTabTextColor="white" tabTextColor="#00C012" tabTextFontSize="14"
            androidOffscreenTabLimit='2' androidSelectedTabHighlightColor="#00C012" tabBackgroundColor="transparent"
            (selectedIndexChanged)="onSelectedIndexChanged($event)">
            <StackLayout *tabItem="{title: 'Farmer\'s Hut   Products'}">
                <GridLayout rows="auto">
                    <GridLayout row="0" height="100%" width="100%">
                        <GridView [items]="products" colWidth="90%" rowHeight="35%" width="100%" height="100%"
                            backgroundColor="transparent" (itemLoading)="onProductItemLoading($event)">
                            <ng-template let-item="item" let-i="index" let-odd="odd">
                                <GridLayout orientation="vertical" backgroundColor="white" marginLeft="5%"
                                    marginRight="5%" marginTop="5" marginBottom="5" borderRadius="10" rows="auto,auto">
                                    <StackLayout row="0" horizontalAlignment="center" height="20%" borderRadius="10">
                                        <Label class="brand-name" [text]="item.brandName"></Label>
                                    </StackLayout>
                                    <GridLayout row="1" columns="auto,auto" width="100%" height="80%">
                                        <StackLayout col="0" height="100%" width="40%">
                                            <NSImage height="100%" width="100%" stretch="aspectFit"
                                                placeholder="res://slider_background" [src]="item.image">
                                            </NSImage>
                                        </StackLayout>
                                        <GridLayout col="1" rows="auto,auto,auto,auto" height="100%" width="60%">
                                            <StackLayout row="0" height="25%" width="100%" verticalAlignment="middle">
                                                <Label class="product-name" textWrap="true" [text]="item.name"></Label>
                                            </StackLayout>
                                            <StackLayout row="1" height="25%" width="100%" verticalAlignment="middle">
                                                <Label class="product-heading" textWrap="true"
                                                    [text]="item.heading"></Label>
                                            </StackLayout>
                                            <GridLayout row="2" columns="auto,auto" width="100%" height="25%">
                                                <StackLayout col="0" height="100%" width="50%">
                                                    <Label width="100%" color="#00C012" fontSize="14"
                                                        [text]="item.weight"></Label>
                                                </StackLayout>
                                                <StackLayout col="1" height="100%" width="50%">
                                                    <Label width="100%" color="#00C012" fontSize="14"
                                                        [text]="'Rs '+item.price"></Label>
                                                </StackLayout>
                                            </GridLayout>
                                            <GridLayout row="3" columns="auto,auto" width="100%" height="25%">
                                                <StackLayout col="0" height="100%" width="50%"
                                                    verticalAlignment="middle">
                                                    <Button class="addCartButton" text="Add to cart"
                                                        (tap)="onAddCart(item,i)"></Button>
                                                </StackLayout>
                                                <StackLayout col="1" height="100%" width="50%"
                                                    verticalAlignment="middle">
                                                    <Button class="viewDetailButton" text="View detail"
                                                        (tap)="onViewDetail(item)"></Button>
                                                </StackLayout>
                                            </GridLayout>
                                        </GridLayout>
                                    </GridLayout>
                                </GridLayout>
                            </ng-template>
                        </GridView>
                        <ActivityIndicator row="0" verticalAlignment="bottom" horizontalAlignment="center"
                            *ngIf="isLoadingProducts" height="8%" width="8%" backgroundColor="transparent"
                            [busy]="isLoadingProducts"></ActivityIndicator>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
            <StackLayout *tabItem="{title: 'Other Brand Products'}">
                <GridLayout rows="auto">
                    <GridLayout row="0" height="100%" width="100%">
                        <GridView [items]="productCategories" colWidth="35%" rowHeight="40%" width="100%" height="100%"
                            backgroundColor="transparent" (itemLoading)="onCategoryItemLoading($event)">
                            <ng-template let-item="item" let-odd="odd">
                                <GridLayout orientation="vertical" backgroundColor="white" marginLeft="8%"
                                    marginRight="8%" marginTop="10" marginBottom="10" borderRadius="10"
                                    rows="auto,auto">
                                    <StackLayout row="0" width="100%" height="100%" borderRadius="10">
                                        <NSImage height="100%" width="100%" placeholder="res://slider_background"
                                            [src]="item.image" stretch="aspectFit" borderRadius="10"
                                            (tap)="onCategory(item)">
                                        </NSImage>
                                    </StackLayout>
                                    <StackLayout row="0" horizontalAlignment="center" verticalAlignment="bottom"
                                        height="15%" width="100%" backgroundColor="white" borderBottomLeftRadius="7.5"
                                        borderBottomRightRadius="7.5" opacity="0.8">
                                        <Label class="product-name" [text]="item.name"></Label>
                                    </StackLayout>
                                </GridLayout>
                            </ng-template>
                        </GridView>
                        <ActivityIndicator row="0" verticalAlignment="bottom" horizontalAlignment="center"
                            *ngIf="isLoadingCategories" height="8%" width="8%" backgroundColor="transparent"
                            [busy]="isLoadingCategories"></ActivityIndicator>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </TabView>
    </GridLayout>
    <GridLayout *ngIf="!isRendering" width="100%" height="100%" backgroundColor="transparent">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>
    <GridLayout *ngIf="isLoading" width="100%" height="100%" backgroundColor="transparent">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</Page>