.page{
    background-image: url("res://app_background");
    background-size: cover;
    background-color: black;
    width:100%;
    height:100%;
}
.backButton{
    height:30;
    width:30;
}
.pageHeading{
    color:#E98A02;
    font-size: 24;
    text-align: center;
    font-weight: 500;
}
.productImage{
    width:80%;
    height:100%;
}
.nameHeading{
    font-size: 18;
    color:black;
}
.nameDetail{
    font-size: 18;
    color:#E98A02;
}
.priceHeading{
    font-size: 18;
    color:black;
}
.priceDetail{
    font-size: 18;
    color:#E98A02;
}
.quantity{
    font-size: 16;
    color:#E98A02;
}
.price{
    font-size: 24;
    color:black;
    font-weight: 900;
}
.viewDetailButton{
    font-size: 16;
    color:black;
    font-weight: 500;
    height:80%;
    width:30%;
    padding:0;
    background-color: transparent;
    z-index:0;
    border-color: #E98A02;
    border-width: 1;
    border-radius:5;
}
.viewDetailButton:highlighted{
    background-color: #E98A02;
    color:white;
    border-color:white;
}
