.page{
    background-image: url("res://app_background");
    background-size: cover;
    background-color: black;
    width:100%;
    height:100%;
}
.appLogo{
    height:150;
    width:150;
}
.backButton{
    height:30;
    width:30;
}
.appLabel{
    color:#00C012;
    font-size: 36;
    text-align: center;
    font-weight: 500;
}
.button{
    border-color:white;
    border-width:1;
    border-radius:10;
    color:white;
    font-size: 20;
    text-transform: initial;
    text-align: center;
    height:40;
    padding:0;
    background-color:#00C012
}
.button:highlighted{
    background-color: transparent;
    z-index: 1;    
    border-color:#00C012;
    color:#00C012
}
.input-field{
    placeholder-color:white;
    border-bottom-width: 1;
    height:40;
    color:#00C012
}
.description-label{
    color:white;
    text-align: center;
}
.ok-button{
    border-radius: 10;
    background-color:#00C012;
    text-transform: initial;
    color:white;
    height:80%;
    width:50%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: white;
    border-width:1;
}
.ok-button:highlighted{
    background-color: white;
    border-color:#00C012;
    color:#00C012
}
.resend-button{
    border-color:#00C012;
    border-width:1;
    border-radius:10;
    color:#00C012;
    font-size: 20;
    text-transform: initial;
    text-align: center;
    height:40;
    padding:0;
    background-color: transparent
}
.resend-button:highlighted{
    background-color:#00C012;
    z-index: 1;    
    border-color: white;
    color:white;
}