<Page>
    <GridLayout rows="auto,auto,auto" class="page">
        <GridLayout row="0" columns="auto,auto,auto" width="100%" height="8%">
            <StackLayout col="0" verticalAlignment="middle" width=" 20%">
                <Image class="backButton" src="res://back_icon" (tap)="onBack()"></Image>
            </StackLayout>
            <StackLayout col="1" verticalAlignment="middle" width=" 60%">
                <Label class="pageHeading" text="My Orders"></Label>
            </StackLayout>
        </GridLayout>
        <GridLayout row="1" width="100%" height="92%">
            <GridView [items]="orderedProducts" colWidth="90%" rowHeight="20%" width="100%" height="100%"
                backgroundColor="transparent">
                <ng-template let-item="item" let-odd="odd">
                    <GridLayout width="100%" height="90%" backgroundColor="white" marginLeft="8%" marginRight="8%"
                        marginTop="10%" marginBottom="10%" columns="auto,auto">
                        <StackLayout col="0" height="100%" width="20%">
                            <Image class="productImage" [src]="item.image"></Image>
                        </StackLayout>
                        <GridLayout col="1" rows="auto,auto" height="100%" width=" 80%">
                            <GridLayout row="0" columns="auto,auto,auto,auto" height="50%" width=" 100%">
                                <StackLayout col="0" verticalAlignment="middle">
                                    <Label class="fullName" [text]="item.fullName"></Label>
                                </StackLayout>
                                <StackLayout col="1" verticalAlignment="middle">
                                    <Label class="fullName" text=" ("></Label>
                                </StackLayout>
                                <StackLayout col="2" verticalAlignment="middle">
                                    <Label class="quantity" [text]="item.quantity"></Label>
                                </StackLayout>
                                <StackLayout col="3" verticalAlignment="middle">
                                    <Label class="fullName" text=")"></Label>
                                </StackLayout>
                            </GridLayout>
                            <GridLayout row="1" height="50%" columns="auto,auto">
                                <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                                    <Label class="price" [text]="item.price"></Label>
                                </StackLayout>
                                <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                                    <Label class="status" [text]="item.status"></Label>
                                </StackLayout>
                            </GridLayout>
                        </GridLayout>
                    </GridLayout>
                </ng-template>
            </GridView>
        </GridLayout>
    </GridLayout>
</Page>