<Page>
    <GridLayout class="page">
        <CardView #cancelOrderDialog modal size="lg" duration="100" backgroundColor="transparent">
            <GridLayout width="80%" height="30%" borderRadius="20" backgroundColor="white">
                <GridLayout rows="auto,auto" width="100%" height="100%">
                    <StackLayout row="0" height="60%" width="90%" verticalAlignment="middle">
                        <Label class="cancelDialogLabel" textWrap="true"
                            text="Are you sure you want to cancel this order!"></Label>
                    </StackLayout>
                    <GridLayout row="1" columns="auto,auto" height="40%" width="90%" verticalAlignment="middle">
                        <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="yes-button" text="Yes" (tap)="onYes()"></Button>
                        </StackLayout>
                        <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                            <Button class="no-button" text="No" (tap)="onNo()"></Button>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
        </CardView>
        <CardView #rejectReasonDialog modal size="lg" duration="100" backgroundColor="transparent">
            <GridLayout rows="auto,auto" width="80%" height="30%" borderRadius="20" backgroundColor="white">
                <GridLayout row="0" marginTop="10%" height="60%" width="90%">
                    <ScrollView>
                        <Label class="labelDetail" [text]="reason" textWrap="true"></Label>
                    </ScrollView>
                </GridLayout>
                <StackLayout row="1" width="50%" height="30%" verticalAlignment="middle">
                    <Button class="cancel-button" text="Cancel" (tap)="onCancelReason()"></Button>
                </StackLayout>
            </GridLayout>
        </CardView>
        <GridLayout *ngIf="isRendering" rows="auto,auto,auto" width="100%" height="100%">
            <GridLayout row="0" columns="auto,auto,auto" width="100%" height="8%">
                <StackLayout col="0" height="100%" verticalAlignment="middle" width="20%">
                    <Button class="backButton" (tap)="onBack()"></Button>
                </StackLayout>
                <StackLayout col="1" verticalAlignment="middle" width="60%">
                    <Label class="pageHeading" text="Order detail"></Label>
                </StackLayout>
            </GridLayout>


            <GridLayout row="1" width="100%" height="47%">
                <GridView [items]="orderedProducts" colWidth="90%" rowHeight="30%" width="100%" height="100%"
                    backgroundColor="transparent">
                    <ng-template let-item="item" let-odd="odd">
                        <GridLayout width="100%" height="90%" backgroundColor="white" marginLeft="8%" marginRight="8%"
                            marginTop="10%" marginBottom="10%" columns="auto,auto">
                            <StackLayout col="0" height="100%" width="20%">
                                <NSImage height="100%" width="100%" placeholder="res://slider_background"
                                    class="productImage" stretch="aspectFit" [src]="item.image"></NSImage>
                            </StackLayout>
                            <GridLayout col="1" width="80%" height="100%" rows="auto,auto">
                                <GridLayout columns="auto,auto,auto,auto" row="0" height="40%" width="100%">
                                    <StackLayout col="0" verticalAlignment="middle">
                                        <Label class="fullName" [text]="item.name"></Label>
                                    </StackLayout>
                                    <StackLayout col="1" verticalAlignment="middle">
                                        <Label class="fullName" text=" ("></Label>
                                    </StackLayout>
                                    <StackLayout col="2" verticalAlignment="middle">
                                        <Label class="quantity" [text]="item.weight"></Label>
                                    </StackLayout>
                                    <StackLayout col="3" verticalAlignment="middle">
                                        <Label class="fullName" text=")"></Label>
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout row="1" columns="auto,auto,auto" height="60%" width="100%">
                                    <StackLayout col="0" height="100%" width="30%" verticalAlignment="middle">
                                        <Label class="price" [text]="item.price"></Label>
                                    </StackLayout>
                                    <GridLayout col="1" rows="auto,auto" height="100%" width="35%">
                                        <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                                            <Label class="quantityHeading" text="Quantity"></Label>
                                        </StackLayout>
                                        <StackLayout row="1" height="50%" width="100%" verticalAlignment="middle">
                                            <Label class="quantityDetail" [text]="item.quantity"></Label>
                                        </StackLayout>
                                    </GridLayout>
                                    <GridLayout col="2" rows="auto,auto" height="100%" width="35%">
                                        <StackLayout row="0" height="50%" width="100%" verticalAlignment="middle">
                                            <Label class="quantityHeading" text="Total price"></Label>
                                        </StackLayout>
                                        <StackLayout row="1" height="50%" width="100%" verticalAlignment="middle">
                                            <Label class="quantityDetail" [text]="item.totalPrice"></Label>
                                        </StackLayout>
                                    </GridLayout>
                                </GridLayout>
                            </GridLayout>
                        </GridLayout>
                    </ng-template>
                </GridView>
            </GridLayout>

            <GridLayout *ngIf="isRenderingUserDetail" row="2" height="45%" width="100%"
                rows="auto,auto,auto,auto,auto,auto">
                <GridLayout row="0" height="12%" width="90%" columns="auto,auto" marginTop="2%">
                    <StackLayout col="0" width="40%" height="100%">
                        <Label class="labelHeading" text="Name : "></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%">
                        <Label class="labelDetail" [text]="userName"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="1" width="90%" height="12%" columns="auto,auto">
                    <StackLayout col="0" width="40%" height="100%">
                        <Label class="labelHeading" text="Phone number : "></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%">
                        <Label class="labelDetail" [text]="phoneNumber"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="2" width="90%" height="30%" columns="auto,auto">
                    <StackLayout col="0" width="40%" height="100%">
                        <Label class="labelHeading" text="Address : "></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%">
                        <Label class="labelDetail" textWrap="true" [text]="address"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="3" width="90%" height="12%" columns="auto,auto">
                    <StackLayout col="0" width="40%" height="100%">
                        <Label class="labelHeading" text="Date (Time): "></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%">
                        <Label class="labelDetail" [text]="date"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="4" width="90%" height="12%" columns="auto,auto">
                    <StackLayout col="0" width="40%" height="100%">
                        <Label class="labelHeading" text="Total amount : "></Label>
                    </StackLayout>
                    <StackLayout col="1" width="60%" height="100%">
                        <Label class="labelDetail" [text]="totalAmount"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout row="5" width="100%" height="20%" columns="auto,auto">
                    <StackLayout col="1" width="100%" height="100%" verticalAlignment="middle"
                        horizontalAlignment="center">
                        <Button *ngIf="isCancelButton" class="cancelOrderButton" [text]="cancelButtonText"
                            (tap)="onCancelOrder()"></Button>
                        <Button *ngIf="isReasonButton" class="cancelOrderButton" text="View Reason"
                            (tap)="onReason()"></Button>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </GridLayout>
        <GridLayout *ngIf="!isRendering" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
        <GridLayout *ngIf="isLoading" width="100%" height="100%">
            <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
                colSpan="1">
            </ActivityIndicator>
        </GridLayout>
    </GridLayout>
</Page>