.page{
    background-image: url("res://app_background");
    background-size: cover;
    background-color: black;
    width:100%;
    height:100%;
}
.backButton{
    height:30;
    width:30;
}
.pageHeading{
    color:#00C012;
    font-size: 24;
    text-align: center;
    font-weight: 500;
}
.productImage{
    width:100vw;
    height:100vh;
}
.labelDetail{
    color:#00C012;
    font-size: 16;
    text-align: left;
}
.fullName{
    font-size: 16;
    color:black;
}
.quantity{
    font-size: 16;
    color:#00C012;
}
.price{
    font-size: 22;
    color:black;
    font-weight: 900;
}
.quantityHeading{
    font-size: 16;
    color:black;
    font-weight: 500;
    text-align: center;
}
.quantityDetail{
    font-size: 16;
    color:#00C012;
    font-weight: 500;
    text-align: center;
}
.delivery{
    font-size: 18;
    color:black;
}
.detail{
    font-size: 18;
    color:black;
    font-weight: 500;
}
.labelHeading{
    color:white;
    font-size: 16;
    text-align: left;
    font-weight: 500;
}
.labelDetail{
    color:#00C012;
    font-size: 16;
    text-align: left;
}
.cancelOrderButton{
    background-color: #00C012;
    color: white;
    width: 80%;
    height: 90%;
    font-size: 20;
    padding:0;
    font-weight: 500;
    border-width:1;
    border-radius:10;
    border-color: white;
}
.cancelOrderButton:highlighted{
    background-color: transparent;
    z-index:500;
    color:#00C012;
    border-color:#00C012;
}
.cancelDialogLabel{
    color:#1B1B1B;
    font-size: 20;
    text-align:center;
    font-weight:500;
}
.yes-button{
    border-radius: 10;
    background-color:#00C012;
    text-transform: initial;
    color:white;
    height:50%;
    width:90%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: white;
    border-width:1;
}
.yes-button:highlighted{
    background-color: white;
    border-color:#00C012;
    color:#00C012;
}
.no-button{
    border-radius: 10;
    background-color:white;
    text-transform: initial;
    color:#00C012;
    height:50%;
    width:90%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: #00C012;
    border-width:1;
}
.no-button:highlighted{
    background-color: #00C012;
    border-color:white;
    color:white;
}
.cancel-button{
    border-radius: 10;
    background-color:white;
    text-transform: initial;
    color:#00C012;
    height:50%;
    width:90%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: #00C012;
    border-width:1;
}
.cancel-button:highlighted{
    background-color: #00C012;
    border-color:white;
    color:white;
}