.page{
    background-image: url("res://app_background");
    background-size: cover;
    background-color: black;
    width:100%;
    height:100%;
}
.backButton{
    height:30;
    width:30;
}
.pageHeading{
    color:#00C012;
    font-size: 25%;
    padding:0;
    text-align: center;
    font-weight: 500;
}
.categoryImage{
    width:90%;
    height:90%;
}
.input-field{
    placeholder-color:white;
    border-bottom-width: 1;
    height:40;
    color:#00C012;
}
.button{
    border-color:white;
    border-width:1;
    border-radius:10;
    color:white;
    font-size: 20;
    text-transform: initial;
    text-align: center;
    height:40;
    padding:0;
    background-color: #00C012;
}
.button:highlighted{
    background-color: transparent;
    z-index: 500;    
    border-color: #00C012;
    color:#00C012;
}
.photoUploadButton{
    border-color:#00C012;
    border-width:1;
    color:#00C012;
    font-size: 14;
    text-transform: initial;
    text-align: center;
    height:50%;
    padding:0;
    background-color: white;
}
.photoUploadButton:highlighted{
    background-color: #00C012;
    border-color:white;
    color:white;
}
.ok-button{
    border-radius: 10;
    background-color:#00C012;
    text-transform: initial;
    color:white;
    height:80%;
    width:50%;
    padding:0;
    font-size:12;
    font-weight:500;
    border-color: white;
    border-width:1;
}
.ok-button:highlighted{
    background-color: white;
    border-color:#00C012;
    color:#00C012;
}