<Page actionBarHidden="true">
    <GridLayout class="page" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto">
        <GridLayout row="0" columns="auto,auto,auto" width="100%" marginTop="10" height="8%">
            <StackLayout col="0" height="100%" verticalAlignment="middle" width="20%" (tap)="onBack()">
                <Image class="backButton" src="res://back_icon"></Image>
            </StackLayout>
            <StackLayout col="1" verticalAlignment="middle" width="60%" height="100%">
                <Label class="pageHeading" text="Profile"></Label>
            </StackLayout>
            <StackLayout col="2" verticalAlignment="middle" width="20%" height="100%">
                <Button class="logoutButton" text="Logout" (tap)="onLogout()"></Button>
            </StackLayout>
        </GridLayout>

        <GridLayout row="1" width="90%" height="7%" marginTop="2%" columns="auto,auto">
            <StackLayout col="0" width="40%" height="100%">
                <Label class="labelHeading" text="Name : "></Label>
            </StackLayout>
            <StackLayout col="1" width="60%" height="100%">
                <Label class="labelDetail" [text]="userName"></Label>
            </StackLayout>
        </GridLayout>

        <GridLayout row="2" width="90%" height="7%" columns="auto,auto">
            <StackLayout col="0" width="40%" height="100%">
                <Label class="labelHeading" text="Phone number : "></Label>
            </StackLayout>
            <StackLayout col="1" width="60%" height="100%">
                <Label class="labelDetail" [text]="phone"></Label>
            </StackLayout>
        </GridLayout>

        <GridLayout row="3" width="90%" height="15%" columns="auto,auto">
            <StackLayout col="0" width="40%" height="100%">
                <Label class="labelHeading" text="Address : "></Label>
            </StackLayout>
            <StackLayout col="1" width="60%" height="100%">
                <Label class="labelDetail" textWrap="true" [text]="address"></Label>
            </StackLayout>
        </GridLayout>

        <GridLayout row="4" width="90%" height="7%" columns="auto,auto">
            <StackLayout col="0" width="40%" height="100%">
                <Label class="labelHeading" text="City : "></Label>
            </StackLayout>
            <StackLayout col="1" width="60%" height="100%">
                <Label class="labelDetail" textWrap="true" [text]="city"></Label>
            </StackLayout>
        </GridLayout>

        <GridLayout row="5" width="90%" height="7%" columns="auto,auto">
            <StackLayout col="0" width="40%" height="100%">
                <Label class="labelHeading" text="District : "></Label>
            </StackLayout>
            <StackLayout col="1" width="60%" height="100%">
                <Label class="labelDetail" textWrap="true" [text]="district"></Label>
            </StackLayout>
        </GridLayout>

        <GridLayout row="6" width="90%" height="7%" columns="auto,auto">
            <StackLayout col="0" width="40%" height="100%">
                <Label class="labelHeading" text="State : "></Label>
            </StackLayout>
            <StackLayout col="1" width="60%" height="100%">
                <Label class="labelDetail" textWrap="true" [text]="state"></Label>
            </StackLayout>
        </GridLayout>

        <!-- <GridLayout row="7" width="90%" height="7%" columns="auto,auto">
            <StackLayout col="0" width="40%" height="100%">
                <Label class="labelHeading" text="Pincode : "></Label>
            </StackLayout>
            <StackLayout col="1" width="60%" height="100%">
                <Label class="labelDetail" textWrap="true" [text]="pincode"></Label>
            </StackLayout>
        </GridLayout> -->

        <StackLayout row="7" width="100%" height="7%">
            <Button class="button" [text]="addressButton" (tap)="onAddressButton()"></Button>
        </StackLayout>
        <StackLayout row="8" width="100%" height="7%">
            <Button class="button" text="Change Password" (tap)="onChangePassword()"></Button>
        </StackLayout>
        <StackLayout row="9" width="100%" height="7%">
            <Button class="button" [text]="ordersButtonText" (tap)="onOrders()"></Button>
        </StackLayout>

        <GridLayout row="10" columns="auto,auto" width="100%" height="7%" marginTop="10%">
            <StackLayout col="0" width="50%" height="100%" verticalAlignment="middle">
                <Button class="feedbackButton" [text]="feedbackButtonText" (tap)="onFeedback()"></Button>
            </StackLayout>
            <StackLayout col="1" width="50%" height="100%" verticalAlignment="middle">
                <Button class="aboutButton" text="About us" (tap)="onAbout()"></Button>
            </StackLayout>
        </GridLayout>

    </GridLayout>
</Page>