.page{
    background-image: url("res://app_background");
    background-size: cover;
    background-color: black;
    width:100%;
    height:100%;
}
.backButton{
    border-color:#00C012;
    border-width:1;
    border-radius:15;
    text-transform: initial;
    height:50%;
    width:70%;
    padding:0;
    background-image: url("res://back_icon");
    background-size:60% 80%;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
}
.backButton:highlighted{
    background-color: transparent;
    z-index:1;
    border-color: white;
}
.pageHeading{
    color:#00C012;
    font-size: 25%;
    padding:0;
    text-align: center;
    font-weight: 500;
}

.name{
    font-size: 20;
    color:black;
    font-weight: 500;
    text-align: center;
}
.message{
    font-size: 16;
    color:#00C012;
    font-weight: 300;
    text-align: left;
}
