<Page>
    <GridLayout rows="auto,auto,auto" class="page">
        <GridLayout row="0" height="8%" width="100%" columns="auto,auto,auto">
            <StackLayout col="0" height="50%" width="15%" (tap)="onProfile()">
                <Image class="profileButton" src="res://profile"></Image>
            </StackLayout>
            <StackLayout col="1" height="50%" width="70%">
                <Label class="pageHeading" text="Products"></Label>
            </StackLayout>
            <StackLayout col="2" height="50%" width="15%" (tap)="onCartClick()">
                <Image class="cartButton" src="res://cart_icon"></Image>
            </StackLayout>
            <StackLayout *ngIf="isCartCount" col="2" verticalAlignment="middle" width="20" height="20"
                backgroundColor="white" borderRadius="10" marginBottom="15" marginLeft="15">
                <Label color="#E98A02" fontWeight="500" horizontalAlignment="center" [text]="cartCount"></Label>
            </StackLayout>
        </GridLayout>
        <GridLayout *ngIf="isRenderingSlider" row="1" height="25%" width="100%">
            <Carousel #myCarousel ios:indicatorOffset="0,-10" ios:finite="true" ios:bounce="false"
                android:indicatorAlignment="bottom" showIndicator="true" [selectedPage]="selectedPage" height="100%"
                width="100%" indicatorColor="#E98A02" android:indicatorAnimation="drop"
                indicatorColorUnselected="#D4D4D4">
                <CarouselItem>
                    <StackLayout width="100%" height="100%">
                        <Image stretch="aspectFill" [src]="sliderImage1"></Image>
                    </StackLayout>
                </CarouselItem>
                <CarouselItem>
                    <StackLayout width="100%" height="100%">
                        <Image stretch="aspectFill" [src]="sliderImage2"></Image>
                    </StackLayout>
                </CarouselItem>
                <CarouselItem>
                    <StackLayout width="100%" height="100%">
                        <Image stretch="aspectFill" [src]="sliderImage3"></Image>
                    </StackLayout>
                </CarouselItem>
                <CarouselItem>
                    <StackLayout width="100%" height="100%">
                        <Image stretch="aspectFill" [src]="sliderImage4"></Image>
                    </StackLayout>
                </CarouselItem>
            </Carousel>
        </GridLayout>
        <TabView row="2" *ngIf="isRenderingTabView" [(ngModel)]="tabSelectedIndex" [selectedIndex]="tabSelectedIndex"
            width="100%" height="67%" selectedTabTextColor="white" tabTextColor="#E98A02" tabTextFontSize="14"
            androidOffscreenTabLimit='2' androidSelectedTabHighlightColor="#E98A02" tabBackgroundColor="transparent"
            (selectedIndexChanged)="onSelectedIndexChanged($event)">
            <StackLayout *tabItem="{title: 'Products'}">
                <PullToRefresh (refresh)="refreshPage($event)">
                    <GridLayout rows="auto">
                        <GridLayout row="0" height="100%" width="100%">
                            <GridView [items]="products" colWidth="90%" rowHeight="35%" width="100%" height="100%"
                                backgroundColor="transparent">
                                <ng-template let-item="item" let-i="index" let-odd="odd">
                                    <GridLayout orientation="vertical" backgroundColor="white" marginLeft="5%"
                                        marginRight="5%" marginTop="5" marginBottom="5" borderRadius="10"
                                        rows="auto,auto">
                                        <StackLayout row="0" horizontalAlignment="center" height="20%"
                                            borderRadius="10">
                                            <Label class="brand-name" [text]="item.brandName"></Label>
                                        </StackLayout>
                                        <GridLayout row="1" columns="auto,auto" width="100%" height="80%">
                                            <StackLayout col="0" height="100%" width="40%">
                                                <Image [src]="item.image" stretch="aspectFit" width="100vw"
                                                    height="100vh">
                                                </Image>
                                            </StackLayout>
                                            <GridLayout col="1" rows="auto,auto,auto" height="100%" width="60%">
                                                <StackLayout row="0" height="40%" width="100%"
                                                    verticalAlignment="middle">
                                                    <Label class="product-name" textWrap="true"
                                                        [text]="item.name"></Label>
                                                </StackLayout>
                                                <GridLayout row="1" columns="auto,auto" width="100%" height="25%">
                                                    <StackLayout col="0" height="100%" width="50%">
                                                        <Label width="100%" color="#E98A02" fontSize="14"
                                                            [text]="item.weight"></Label>
                                                    </StackLayout>
                                                    <StackLayout col="1" height="100%" width="50%">
                                                        <Label width="100%" color="#E98A02" fontSize="14"
                                                            [text]="item.price"></Label>
                                                    </StackLayout>
                                                </GridLayout>
                                                <GridLayout row="2" columns="auto,auto" width="100%" height="35%">
                                                    <StackLayout col="0" height="100%" width="50%"
                                                        verticalAlignment="middle">
                                                        <Button class="addCartButton" text="Add to cart"
                                                            (tap)="onAddCart(item)"></Button>
                                                    </StackLayout>
                                                    <StackLayout col="1" height="100%" width="50%"
                                                        verticalAlignment="middle">
                                                        <Button class="viewDetailButton" text="View detail"
                                                            (tap)="onViewDetail(item)"></Button>
                                                    </StackLayout>
                                                </GridLayout>
                                            </GridLayout>
                                        </GridLayout>
                                    </GridLayout>
                                </ng-template>
                            </GridView>
                        </GridLayout>
                    </GridLayout>
                </PullToRefresh>
            </StackLayout>
            <StackLayout *tabItem="{title: 'Similar Products'}">
                <GridLayout rows="auto">
                    <GridLayout row="0" height="100%" width="100%">
                        <GridView [items]="productCategories" colWidth="35%" rowHeight="35%" width="100%" height="100%"
                            backgroundColor="transparent">
                            <ng-template let-item="item" let-odd="odd">
                                <GridLayout orientation="vertical" backgroundColor="white" marginLeft="8%"
                                    marginRight="8%" marginTop="10" marginBottom="10" borderRadius="10"
                                    rows="auto,auto">
                                    <StackLayout row="0" width="100%" height="80%" borderRadius="10">
                                        <Image [src]="item.image" stretch="aspectFit" marginTop="10%" width="100vw"
                                            height="100vh" (tap)="onCategory(item)"></Image>
                                    </StackLayout>
                                    <StackLayout row="1" horizontalAlignment="center" height="20%" borderRadius="10">
                                        <Label class="product-name" [text]="item.name"></Label>
                                    </StackLayout>
                                </GridLayout>
                            </ng-template>
                        </GridView>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </TabView>
    </GridLayout>
</Page>