<Page>
    <GridLayout *ngIf="isRendering" rows="auto,auto,auto,auto" class="page">
        <GridLayout row="0" height="8%" width="100%" columns="auto,auto,auto">
            <StackLayout col="0" height="80%" width="15%">
                <Button class="profileButton" (tap)="onProfile()"></Button>
            </StackLayout>
            <StackLayout col="1" height="100%" verticalAlignment="middle" width="70%">
                <Label class="pageHeading" text="FARMER'S HUT"></Label>
            </StackLayout>
            <StackLayout col="2" height="80%" width="15%">
                <Button #menuButton class="menuButton" (tap)="onMenu(menuButton)"></Button>
            </StackLayout>
        </GridLayout>
        <GridLayout row="1" width="100%" height="15%" columns="auto,auto">
            <GridLayout col="0" width="70%" height="100%">
                <ns-slider height="80%" width="90%"></ns-slider>
            </GridLayout>
            <GridLayout col="1" width="30%" height="100%">
                <Button class="addButton" text="Add Slider Images" (tap)="onAddSlider()"></Button>
            </GridLayout>
        </GridLayout>
        <StackLayout row="2" height="44" width="48%" marginLeft="1%" borderRadius="5" horizontalAlignment="left"
            verticalAlignment="top" [backgroundColor]="firstTabColor"></StackLayout>
        <StackLayout row="2" height="44" width="48%" marginRight="1%" borderRadius="5" horizontalAlignment="right"
            verticalAlignment="top" [backgroundColor]="secondTabColor"></StackLayout>
        <TabView *ngIf="isRenderingProducts" row="2" [selectedIndex]="tabSelectedIndex" width="100%" height="67%"
            selectedTabTextColor="white" tabTextColor="#00C012" tabTextFontSize="14" androidOffscreenTabLimit='2'
            androidSelectedTabHighlightColor="#00C012" tabBackgroundColor="transparent"
            (selectedIndexChanged)="onSelectedIndexChanged($event)">
            <StackLayout *tabItem="{title: 'Farmer\'s Hut    Products'}">
                <GridLayout rows="auto">
                    <GridLayout row="0" height="100%" width="100%">
                        <GridView [items]="products" colWidth="90%" rowHeight="35%" width="100%" height="100%"
                            backgroundColor="transparent" (loaded)="onProductsGridLoaded($event)"
                            (itemLoading)="onProductItemLoading($event)">
                            <ng-template let-item="item" let-odd="odd" let-i="index">
                                <GridLayout orientation="vertical" backgroundColor="white" marginLeft="5%"
                                    marginRight="5%" marginTop="5" marginBottom="5" borderRadius="10" rows="auto,auto">
                                    <GridLayout row="0" columns="auto,auto" horizontalAlignment="center" height="20%"
                                        borderRadius="10">
                                        <StackLayout col="0" width="70%" height="100%" verticalAlignment="middle">
                                            <Label class="brand-name" [text]="item.brandName"></Label>
                                        </StackLayout>
                                        <StackLayout col="1" width="30%" height="100%" verticalAlignment="middle">
                                            <Button class="editButton" text="Edit" (tap)="onProductEdit(item)"></Button>
                                        </StackLayout>
                                    </GridLayout>
                                    <GridLayout row="1" columns="auto,auto" width="100%" height="80%">
                                        <StackLayout col="0" height="100%" width="40%">
                                            <NSImage [src]="item.image" placeholder="res://slider_background"
                                                stretch="aspectFit" width="100%" height="100%">
                                            </NSImage>
                                        </StackLayout>
                                        <GridLayout col="1" rows="auto,auto,auto,auto" height="100%" width="60%">
                                            <StackLayout row="0" height="20%" width="100%" verticalAlignment="middle">
                                                <Label class="product-name" textWrap="true" [text]="item.name"></Label>
                                            </StackLayout>
                                            <StackLayout row="1" height="20%" width="100%" verticalAlignment="middle">
                                                <Label class="product-heading" textWrap="true"
                                                    [text]="item.heading"></Label>
                                            </StackLayout>
                                            <GridLayout row="2" columns="auto,auto" width="100%" height="25%">
                                                <StackLayout col="0" height="100%" width="40%">
                                                    <Label width="100%" color="#00C012" fontSize="14"
                                                        [text]="item.weight"></Label>
                                                </StackLayout>
                                                <StackLayout col="1" height="100%" width="60%">
                                                    <Label width="100%" color="#00C012" fontSize="14"
                                                        [text]="'Rs '+item.price"></Label>
                                                </StackLayout>
                                            </GridLayout>
                                            <GridLayout row="3" columns="auto,auto" width="100%" height="35%">
                                                <StackLayout col="0" height="100%" width="50%"
                                                    verticalAlignment="middle">
                                                </StackLayout>
                                                <StackLayout col="1" height="100%" width="50%"
                                                    verticalAlignment="middle">
                                                    <Button class="activeInactiveButton" fontSize="14%"
                                                        [text]="item.status=='enabled'?'Inactive':'Active'"
                                                        (tap)="onProductActiveInactive(item)"></Button>
                                                </StackLayout>
                                            </GridLayout>
                                        </GridLayout>
                                    </GridLayout>
                                </GridLayout>
                            </ng-template>
                        </GridView>
                        <ActivityIndicator row="0" verticalAlignment="bottom" horizontalAlignment="center"
                            *ngIf="isLoadingProducts" height="8%" width="8%" backgroundColor="transparent"
                            [busy]="isLoadingProducts"></ActivityIndicator>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
            <StackLayout *tabItem="{title: 'Other Brands Products'}">
                <GridLayout rows="auto">
                    <GridLayout row="0" height="100%" width="100%">
                        <GridView [items]="productCategories" colWidth="40%" rowHeight="45%" width="100%" height="100%"
                            backgroundColor="transparent" (loaded)="onSimilarProductsGridLoaded($event)"
                            (itemLoading)="onCategoryItemLoading($event)">
                            <ng-template let-item="item" let-odd="odd" let-i="index">
                                <GridLayout orientation="vertical" backgroundColor="white" marginLeft="5%"
                                    marginRight="5%" marginTop="10" marginBottom="10" borderRadius="10"
                                    rows="auto,auto,auto,auto">
                                    <StackLayout row="0" width="50%" height="15%" horizontalAlignment="right"
                                        verticalAlignment="middle">
                                        <Button class="editButton" text="Edit" (tap)="onCategoryEdit(item)"></Button>
                                    </StackLayout>
                                    <StackLayout row="1" width="100%" height="55%" borderRadius="10">
                                        <NSImage [src]="item.image" placeholder="res://slider_background"
                                            stretch="aspectFit" width="100%" height="100%" (tap)="onCategory(item)">
                                        </NSImage>
                                    </StackLayout>
                                    <StackLayout row="2" horizontalAlignment="center" height="15%" borderRadius="10">
                                        <Label class="product-name" [text]="item.name"></Label>
                                    </StackLayout>
                                    <GridLayout row="3" width="90%" height="15%" columns="auto,auto">
                                        <StackLayout col="0" height="100%" width="50%" verticalAlignment="middle">
                                        </StackLayout>
                                        <StackLayout col="1" height="100%" width="50%" verticalAlignment="middle">
                                            <Button class="activeInactiveButton" fontSize="10%"
                                                [text]="item.status=='active'?'Inactive':'Active'"
                                                (tap)="onCategoryActiveInactive(item)"></Button>
                                        </StackLayout>
                                    </GridLayout>
                                </GridLayout>
                            </ng-template>
                        </GridView>
                        <ActivityIndicator row="0" verticalAlignment="bottom" horizontalAlignment="center"
                            *ngIf="isLoadingCategories" height="8%" width="8%" backgroundColor="transparent"
                            [busy]="isLoadingCategories"></ActivityIndicator>
                    </GridLayout>
                </GridLayout>
            </StackLayout>
        </TabView>
        <GridLayout row="3" height="10%" width="100%">
            <Button class="addButton" [text]="addButtonText" (tap)="onAddProductButton()"></Button>
        </GridLayout>
    </GridLayout>
    <GridLayout *ngIf="!isRendering" width="100%" height="100%">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="!isRendering" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>
    <GridLayout *ngIf="isLoading" width="100%" height="100%" backgroundColor="transparent">
        <ActivityIndicator horizontalAlignment="center" verticalAlignment="middle" [busy]="isLoading" rowSpan="1"
            colSpan="1">
        </ActivityIndicator>
    </GridLayout>
</Page>